.common__section {
  background: linear-gradient(rgba(29, 222, 15, 0.355), rgba(79, 98, 238, 0.6)),
    url("https://cdn.dribbble.com/users/2208826/screenshots/15760865/_____.png?compress=1&resize=400x300");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0px;
}
